@model  JobsPortal.ViewModels.CompanyViewModel

@{
    Layout = "_CompanyDetailsPartial.cshtml";
}

@section CompanyMenu
{
  <div class="job-postdetails">

    <div class="row">
        <div class="col-md-8">
         



        </div>  
        

        </div><!-- photos-ad -->
</div>

}











