@{
    ViewBag.Title = "Brak potwierdzenia addresu Email";
}
<div class="container-fluid">
    <h2>@ViewBag.Title.</h2>
    <div>
        <p>
            Nie potwierdziłeś swojego adresu email, sprawdź swoją skrzynkę pocztową.
        </p>
    </div>
</div>
